<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371299119513-7ckn8m7107l6egiv94k0tdc4go71pi1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371299119513-7ckn8m7107l6egiv94k0tdc4go71pi1p</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NHAtBvK40zxXMw2Ftuahfnn0wyitHFU</string>
	<key>GCM_SENDER_ID</key>
	<string>371299119513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthentication</string>
	<key>PROJECT_ID</key>
	<string>flutter-authentication-2366d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-authentication-2366d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371299119513:ios:c59b8cc0d9009e9055a308</string>
</dict>
</plist>